.topHalf {
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    height: 20%;
    padding-bottom: 2%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.solutionMessage {
    font-size: xxx-large;
}

.inputFields {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.textInput {
    font-size:xxx-large;
    text-align: center;
    margin-right: 2%;
}

.submitButton {
    font-size: xxx-large;
}

.guessDisplay {
    margin: 2% 20% 5% 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: solid black;
    border-radius: 3px;
    box-shadow: 3px 3px black;
    background-color: gray;
}

.allRows {
    display: grid;
    grid-template-columns: 13% 13% 13% 13% 13%;
    grid-column-gap: 1%;
    text-align: center;
    justify-content: center;
}

.letter {
    margin: 3% 1% 3% 1%;
    font-size: xx-large;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 3px 3px black;
}



