body {
    font-family: Arial, Helvetica, sans-serif;
}

.menu-buttons {
    display: flex;
    justify-content: center;
}

.menu-button {
    font-size: 350%;
    color: white;
    background-color: #2b2d42;
    border: 5px solid #eb5e28;
    border-radius: 3px;
    box-shadow: 3px 3px black;
    margin: 1% 1% 1% 1%;
}

.menu-button:hover {
    box-shadow: 4px 4px #3d5a80;
}

.solutionMessage {
    font-size: xxx-large;
}


.inputFields {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    border: 5px solid #eb5e28;
    border-radius: 3px;
    box-shadow: 3px 3px black;
    margin: 2% 5% 2% 5%;
    padding: 2% 5% 2% 5%;
    background-color: #8d99ae;
}

.textInput {
    font-size:xxx-large;
    text-align: center;
    margin-right: 2%;
    color: white;
    background-color: #2b2d42;
    border: 5px solid white;
    border-radius: 3px;
    box-shadow: 3px 3px #eb5e28;
}

.submitButton {
    font-size: xxx-large;
    color: white;
    background-color: #2b2d42;
    border: 5px solid white;
    border-radius: 3px;
    box-shadow: 3px 3px #eb5e28;
}

.submitButton:hover {
    box-shadow: 4px 4px #e0fbfc;
}

.guessDisplay {
    margin: 2% 10% 2% 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 5px solid #eb5e28;
    border-radius: 3px;
    box-shadow: 3px 3px black;
    background-color: #8d99ae;
}

.allRows {
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    grid-column-gap: 1%;
    text-align: center;
    justify-content: center;
}

.letter {
    margin: 3% 1% 3% 1%;
    font-size: xx-large;
    color: #3d5a80;
    background-color: #3d5a80;
    border: 5px solid white;
    border-radius: 3px;
    box-shadow: 3px 3px #eb5e28;
}


#keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    border: 5px solid #eb5e28;
    border-radius: 3px;
    box-shadow: 3px 3px black;
    background-color: #8d99ae;
}

.keyboard-row {
    display: flex;
    justify-content: center;
}

.key {
    font-size: 300%;
    font-weight: 300;
    text-align: center;
    margin: 1% 1% 1% 1%;
    padding: 2% 2% 2% 2%;
    text-transform: uppercase;
    background-color: #2b2d42;
    color: white;
    border: solid white;
    border-radius: 3px;
    box-shadow: 3px 3px #eb5e28;
}

.key:hover {
    box-shadow: 4px 4px #e0fbfc;
}

.login-interface {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.login-interface input {
    font-size: xx-large;
    margin: 1% 0 1% 0;
}

.login-interface button {
    font-size: xx-large;
}

.shared-result {
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emoji-row {
    display: flex;
    flex-wrap: wrap;
}


