.topHalf {
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    height: 20%;
    padding-bottom: 2%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.solutionMessage {
    font-size: xxx-large;
}

.inputFields {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.textInput {
    font-size:xxx-large;
    text-align: center;
    margin-right: 2%;
}

.submitButton {
    font-size: xxx-large;
}

.guessDisplay {
    margin-left: 10%;
    margin-right: 10%;
}

.allGuesses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
}

.letter {
    margin: 3% 3% 3% 3%;
    font-size: xx-large;
}



