input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: 30px;
    width: 60%;
    text-align: center;
}

.allGuesses {
    text-align: center;
}
.guessDisplay {
    text-align: center;
    display: inline-block;
    width: 10%;
    height: 10%;
    margin: 3px;
}

