.topHalf {
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    height: 20%;
    padding-bottom: 2%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.solutionMessage {
    font-size: xxx-large;
}

.inputFields {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.textInput {
    font-size:xxx-large;
    text-align: center;
    margin-right: 2%;
}

.submitButton {
    font-size: xxx-large;
}

.guessDisplay {
    margin: 2% 10% 2% 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: solid black;
    border-radius: 3px;
    box-shadow: 3px 3px black;
    background-color: gray;
}

.allRows {
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    grid-column-gap: 1%;
    text-align: center;
    justify-content: center;
}

.letter {
    margin: 3% 1% 3% 1%;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 3px 3px black;
}


#keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid black;
}

.keyboard-row {
    display: flex;
    justify-content: center;
}

.key {
    font-size: 300%;
    font-weight: 300;
    text-align: center;
    margin: 1% 1% 1% 1%;
    padding: 2% 2% 2% 2%;
    text-transform: uppercase;
}
