.about {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  padding: 2% 2% 2% 2%;
  width: 50%;
  color: white;
  background-color: #2b2d42;
  font-size: xxx-large;
  border: 5px solid #eb5e28;
  border-radius: 3px;
  box-shadow: 3px 3px #2b2d42;
}
