.group-buttons {
  display: flex;
  justify-content: center;
}

.group-button {
  font-size: 150%;
  color: white;
  background-color: #2b2d42;
  border: 5px solid #eb5e28;
  border-radius: 3px;
  box-shadow: 3px 3px black;
  margin: 1% 1% 1% 1%;
}

.group-button:hover {
  box-shadow: 4px 4px #3d5a80;
}

.one-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  border: 2px salmon solid;
  border-radius: 3px;
  box-shadow: 3px 3px #3d5a80;
  font-size: xx-large;
  margin: 2% 10% 2% 10%;
  padding: 2% 10% 2% 10%;
  text-align: end;

  h2 {
    border: 5px solid #eb5e28;
    border-radius: 3px;
    box-shadow: 3px 3px #2b2d42;
    padding: 1% 1% 1% 1%;
  }

  button {
    font-size: xx-large;
    color: white;
    background-color: #2b2d42;
    border: 5px solid #eb5e28;
    border-radius: 3px;
    box-shadow: 3px 3px #2b2d42;
    margin: 3% 3% 3% 3%;
  }

  button:hover {
    box-shadow: 4px 4px #e0fbfc;
  }
}

.all-entries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  table {
    width: 150%;
  }
  table,
  th,
  td {
    border: 2px salmon solid;
    border-radius: 3px;
    box-shadow: 3px 3px #3d5a80;
    padding: 1% 1.5% 1% 1.5%;
    text-align: center;
  }
  th {
    color: white;
    background-color: #3d5a80;
    margin: 1% 3% 1% 3%;
  }
}

.group-stat-buttons {
  display: flex;
  justify-content: center;
}

.group-entry {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "a b b";
  border: 2px salmon solid;
  border-radius: 3px;
  box-shadow: 3px 3px #3d5a80;
  background-color: #8d99ae;
  color: white;
  margin: 1% 3% 1% 3%;
}

.group-entry-description {
  grid-area: a;
  padding: 4% 4% 4% 4%;
  display: flex;
  flex-direction: column;
  text-align: center;

  b {
    border: 5px solid #eb5e28;
    border-radius: 3px;
    box-shadow: 3px 3px #2b2d42;
    padding: 1% 1% 1% 1%;
  }

  p {
    margin-top: 2%;
    margin-bottom: 2%;
  }
}

.group-entry-emojis {
  grid-area: b;
  background-color: white;
  border: 1px salmon solid;
  border-radius: 3px;
  padding: 1% 1% 1% 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.shared-result {
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emoji-row {
  display: flex;
  flex-wrap: wrap;
}
