.guessDisplay {
  margin: 2% 10% 2% 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  border: 5px solid #eb5e28;
  border-radius: 3px;
  box-shadow: 3px 3px black;
  background-color: #8d99ae;
}

@media screen and (max-width: 1200px) {
  .allRows {
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    grid-column-gap: 1%;
    text-align: center;
    justify-content: center;
  }
}

.letter {
  margin: 3% 1% 3% 1%;
  font-size: xx-large;
  color: #3d5a80;
  background-color: #3d5a80;
  border: 5px solid white;
  border-radius: 3px;
  box-shadow: 3px 3px #eb5e28;
}

.solutionMessage {
  font-size: xxx-large;
}

.shared-result {
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emoji-row {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .guessDisplay {
    margin: 0.4% 30% 0.4% 30%;
    padding-top: 0.1%;
    padding-bottom: 0.2%;
  }
  .allRows {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10%;
    grid-column-gap: 0.5%;
    text-align: center;
    justify-content: center;
  }

  .letter {
    margin: 3% 1% 3% 1%;
    font-size: large;
    h1 {
      font-size: x-large;
    }
  }

  .shared-result {
    font-size: large;
    h3,
    p {
      font-size: x-large;
      margin: 1%;
    }
  }
}
