.inputFields {
  display: flex;
  justify-content: center;
  border: 5px solid #eb5e28;
  border-radius: 3px;
  box-shadow: 3px 3px black;
  margin: 0% 35% 0% 35%;
  padding: 0.5%;
  background-color: #8d99ae;

  input {
    font-size: large;
    text-align: center;
    margin-right: 2%;
    color: white;
    background-color: #2b2d42;
    border: 5px solid white;
    border-radius: 3px;
    box-shadow: 3px 3px #eb5e28;
    width: 80%;
  }

  button {
    font-size: large;
    color: white;
    background-color: #2b2d42;
    border: 5px solid white;
    border-radius: 3px;
    box-shadow: 3px 3px #eb5e28;
  }

  button:hover {
    box-shadow: 4px 4px #e0fbfc;
  }
}
