.guessDisplay {
  margin: 2% 10% 2% 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  border: 5px solid #eb5e28;
  border-radius: 3px;
  box-shadow: 3px 3px black;
  background-color: #8d99ae;
}

.allRows {
  display: grid;
  grid-template-columns: 18% 18% 18% 18% 18%;
  grid-column-gap: 1%;
  text-align: center;
  justify-content: center;
}

.letter {
  margin: 3% 1% 3% 1%;
  font-size: xx-large;
  color: #3d5a80;
  background-color: #3d5a80;
  border: 5px solid white;
  border-radius: 3px;
  box-shadow: 3px 3px #eb5e28;
}

.solutionMessage {
  font-size: xxx-large;
}

.shared-result {
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emoji-row {
  display: flex;
  flex-wrap: wrap;
}
