#keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border: 5px solid #eb5e28;
  border-radius: 3px;
  box-shadow: 3px 3px black;
  background-color: #8d99ae;
}

.keyboard-row {
  display: flex;
  justify-content: center;
}

.key {
  font-size: 300%;
  font-weight: 300;
  text-align: center;
  margin: 1% 1% 1% 1%;
  padding: 2% 2% 2% 2%;
  text-transform: uppercase;
  background-color: #2b2d42;
  color: white;
  border: solid white;
  border-radius: 3px;
  box-shadow: 3px 3px #eb5e28;
}

.key:hover {
  box-shadow: 4px 4px #e0fbfc;
}
